@import '_extend.scss';
@import '_mixin.scss';
@import '_variable.scss';
@import 'frames.scss';

html,body,div,p,ul,li,h1,h2,h3,h4,input,textarea,dd,dt,dl,blockquote{
  padding:0;
  margin:0;
}
html{
  font-family:"PingFangSC-Regular","Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "PingFangSC-Semibold","Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}
