#editor,#article-content{
  overflow-x: hidden;
  word-break: break-all;
  word-wrap:break-word;
  div{
    width: 100%;
    blockquote{
      margin-left: 30px !important;
    }
  }
  img{
    max-width: 100%;
  }
}
