@import 'base/_base.scss';
@import 'componments/_button.scss';
//导航栏样式控制
.annoucement-nav-wrap{
  border-bottom: 1px solid #ddd;
}
.main{
  padding-left: 0;
}

.announcement{
  padding-bottom: 20px;
  h3{
    font-size: 20px;
    text-align: center;
  }
  h4{
    height:40px;
    line-height: 40px;
    font-size: 16px;
  }
  p{
    text-indent: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  ul{
    text-indent: 20px;
    li{
      margin-top: 10px;
      ul{
        text-indent: 40px;
      }
    }
  }
  footer{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
}
