@import 'base/_base.scss';
@import 'componments/_button.scss';
html,body {
  width: 100%;
  height: 100%;
}
body {
	background:#0C0C0C url("../assets/index/background.png") center center no-repeat;
	background-size: cover;
}
.main{
  height: 100%;
  margin:0 auto;
  padding-top:30px;
  .index-nav-wrap{
    position: relative;
  }
}
