@import 'base/_base.scss';
//主体样式控制
.body-wrap{
  .body-header{
    .header-item{
      width:32%;
      box-sizing: border-box;
      padding: 15px 8px;
      display: inline-block;
      .tip{
        color:#666;
      }
      &.last-item{
        .num{
          border-right: none;
        }
      }
      .num{
        color:#ff6c74;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
        border-right: 1px solid #ddd;
      }
    }
  }
  .announcement-wrap{
    .announcement-header{
      padding:10px 0;
      .line{
        margin-top: 8px;
        width:100px;
        height:6px;
        background-color: $main-color;
      }
    }
    .announcement-body{
      li{
        line-height: 44px;
        height:44px;
        &:hover{
          .title{
            color:$main-color;
          }
        }
        .title{
          color: #666;
        }
        .date{
          color: #999;
        }
      }
    }
  }
}
