@import 'base/_base.scss';
@import 'componments/_button.scss';
//导航栏样式控制
.register-nav-wrap{
  border-bottom: 1px solid #ddd;
}

//注册成为砖栏作家页面
#register-wrap{
  width:600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.copyright{
  width:100%;
  color:#999;
  font-size: 12px;
  position: absolute;
  bottom:6px;
}
